body {
    font-family: 'Poppins', sans-serif;
}

.orange-color {
    color: orange;
}

.gray-color {
    color: grey;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;

}

h4 {
    font-size: 25px;
}

.link-button {
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px palevioletred;


}

.margin {
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;

}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}

.second-section {
    background-image: url(images/shapes/Frame\ 57.jpg);
}

.recipie-area {
    text-align: center;
}

.recipies {
    margin-top: 40px;
}

.recipie-title {
    box-shadow: 10px 10px 40px grey;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    width: 50%;

}

.half-width-recipie {
    width: 50%;

}

.half-width-recipie img {
    width: 80%;
    height: auto;
}

footer {
    background-color: black;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 30px;
}

.white-color {
    color: whitesmoke;
}

.followers-align {
    text-align: center;
    margin-left: 150px;
}

.followers {
    display: flex;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0px 5px 10px gray;
    padding-left: 40px;
    border-radius: 20px;

}